---
layout: default
title: About
---

<article id="main">

  <header class="about">
    <h2>About</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <h3>Anna Joseph, LCSW, MPH</h3>
      <p>I have been a Licensed Clinical Social Worker (LCSW) in Colorado since 2019. I hold a dual Master of Social Work (MSW) and Master of Public Health (MPH) degree from the University of Michigan.</p>
      <p>As a therapist, my goal is to support people in leading lives that feel meaningful, where they can show up as their authentic selves and align their actions with the person they want to be. My approach to therapy is rooted in Acceptance and Commitment Therapy (ACT), and I also incorporate Dialectical Behavioral Therapy (DBT) and Motivational Interviewing to tailor treatment to each individual’s needs.</p>
    </div>
  </section>

  <section class="spotlight">
    <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
      <p>I encourage clients to lean into uncertainty and complexity—with care, curiosity, and a GSRD-affirming lens.</p>
    </div>
  </section>

  <section class="wrapper style5">
    <div class="inner">
      <p>My career has taken me across a range of settings domestically and internationally—from after-school and wilderness therapy programs to outpatient and HIV clinics. These experiences shaped my expertise in working with sexual health and relationships, intimate partner violence, trauma, emergency responders, and healthcare workers.</p>
      <p>I moved to Colorado in 2016 to have more opportunities to rock climb, hike, and ski—things that were a bit harder to come by in my home state of Michigan (which I still hold dear to my heart). </p>
    </div>
  </section>
</article>