---
layout: default
title: FAQ's
---
<article id="main">

  <header class="faq">
    <h2>Frequently Asked Questions</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <section>
        <h4>What are the hours you offer sessions?</h4>
        <p>In general, I offer sessions at the following times:</p>
        <ul>
          <li>Mondays 10am-6pm</li>
          <li>Tuesdays 8am-4pm</li>
          <li>Wednesdays 8am-4pm</li>
          <li>Thursdays 7am-3pm</li>
        </ul>
        <p>I offer both in-person and telehealth sessions. My in-person sessions are available Mondays and Tuesdays only.</p>
        <hr />
      </section>
      <section>
        <h4>Do you offer in-person or telehealth therapy?</h4>
        <p>Both! I offer both in-person and telehealth sessions. My in-person sessions are available Mondays and Tuesdays only.</p>
        <hr />
      </section>
      <section>
        <h4>What is the cost of a session?</h4>
        <ul>
          <li>Individual Session (50 minutes): $155</li>
          <li>Couples Session (50 minutes): $170</li>
          <li>Couples Extended Session (80 minutes): $255</li>
        </ul>
        <p>I offer a discounted rate of $132 for a 50 minute individual session to medical students, residents and fellows.</p>
        <hr />
      </section>
      <section>
        <h4>Do you take insurance?</h4>
        <p>At this time I am not in-network with any health insurance plans. Depending on your specific health insurance plan you may be able to receive reimbursement for our sessions through out-of-network benefits.</p>
      </section>
    </div>
  </section>

  <section id="cta" class="wrapper style4">
    <div class="inner">
      <header>
        <h3>Have a question you don't see above?</h3>
      </header>
      <ul class="actions stacked">
        <li><a href="<%= relative_url '/contact' %>" class="button fit primary">Get in touch</a></li>
      </ul>
    </div>
  </section>
</article>