---
layout: default
title: Specialties
---
<article id="main">

  <header class="specialties">
    <h2>Specialties</h2>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      <section>
        <h4 id="healthcare-workers">Healthcare workers</h4>
        <p>Healthcare workers dedicate their lives to caring for others, and that can take a toll on their own wellbeing. I have been specializing in working with healthcare professionals since 2019. From 2019 to 2025 I practiced at a psychotherapy clinic where 80% of our clientele were in the healthcare field. Through this work I developed a deep understanding of the unique emotional and logistical challenges that come with these demanding careers.</p>
        <p>I have particular expertise in supporting residents and fellows. Residency comes with immense pressure—secondary trauma from patient care, an overwhelming workload, loss of control over your schedule, moral distress, and the struggle to maintain relationships and personal interests outside of work. These challenges can impact your mental health, self-worth, and ability to find joy in your personal and professional life.</p>
        <p>My approach is compassionate, practical, and tailored to the realities of working in medicine. Therapy can be a space where you process difficult experiences, reconnect with your values, and build strategies to navigate stress in a sustainable way. To help make therapy more accessible, I offer a 15% discounted rate to residents and fellows.</p>
        <p>If you're looking for support in navigating the complexities of your role as a healthcare professional, I invite you to reach out. You don’t have to carry this alone.</p>
        <hr />
      </section>
      <section>
        <h4 id="sex-therapy">Sex therapy</h4>
        <p>Struggling with sexual desire, arousal, orgasm, erection, ejaculation or overall confidence and comfort with sex is common. You are not alone, and overcoming these issues is possible. These struggles can be related to anxiety, discomfort with our bodies or pleasure, or previous negative sexual experiences. We often feel shame or embarrassment when talking about sex, even with our romantic and sexual partners. I offer an authentic, accepting and collaborative space for individuals who are seeking therapy to work through some of these issues.</p>
        <p>Sexual health is fundamental to our mental health and overall wellbeing. My goal as a therapist is to support and guide you to feeling comfortable, confident and empowered in your life both in and outside of sex. Many of the strategies I use are based in Acceptance and Commitment Therapy (ACT).</p>
        <p>I believe our social identities (e.g., gender identity, race, religion) and upbringings can subconsciously impact the expectations we develop about sex. When those expectations cause harm I help you build new, healthier narratives about sex. I believe we all have capacity for growth and change.</p>
      </section>
    </div>
  </section>

  <section class="spotlight">
    <div class="image"><img src="images/specialties01.jpg" alt="" /></div>
    <div class="content"></div>
  </section>

  <section class="wrapper style5">
    <div class="inner">
      <section>
        <h4 id="couples-therapy">Couples therapy</h4>
        <p>Our relationships shape so much of our happiness and wellbeing, and when things aren’t working with our romantic partner(s), it can feel deeply painful and overwhelming. Whether you’re facing recurring conflict, struggling with communication, or feeling disconnected, therapy can offer a path toward greater understanding, intimacy and healing.</p>
        <p>I provide a safe and affirming space where each person feels heard, valued, and supported. My approach centers on helping couples cultivate mutual empathy and compassion, as I believe that true change happens when both partners can fully see and understand each other. Through this process, we work together to build a healthier, more fulfilling relationship dynamic.</p>
        <p>I support Gender, Sexual and Relationship Diversity (GSRD), and I am kink-friendly. I also have a particular specialization in working with new parents, who often face unique stressors as they navigate the profound life changes that come with raising a child.</p>
        <p>No matter what challenges you and your partner(s) are facing, you don’t have to navigate them alone. Therapy can help you rebuild trust, improve communication, and strengthen your connection in meaningful ways.</p>
        <hr />
      </section>
      <section>
        <h4 id="anxiet-and-ocd">Anxiety and OCD</h4>
        <p>Anxiety and OCD can feel overwhelming, like your mind is spinning out of control with no way to stop it. You may logically recognize that anxious or obsessive thoughts and compulsive behaviors are excessive or out of proportion, yet they still hold power over you. This struggle can be exhausting.</p>
        <p>I have extensive experience working with individuals struggling with anxiety and OCD, and I use Acceptance and Commitment Therapy (ACT) to help people change their relationship with their thoughts and emotions and move towards their values. Often, it’s not the thoughts themselves that fuel anxiety and OCD, but the way we react to them—fighting against them, trying to push them away, or letting them dictate our actions. My approach helps you step out of that cycle, develop new ways of relating to your mind, and regain a sense of freedom in your life again.</p>
      </section>
    </div>
  </section>

  <section class="spotlight reversed">
    <div class="image"><img src="images/specialties02.jpg" alt="" /></div>
    <div class="content"></div>
  </section>

  <section class="wrapper style5">
    <div class="inner">
      <section>
        <h4 id="emergency-responders">Emergency Responders</h4>
        <p>I have been involved in supporting emergency responders since 2016 when I assisted in establishing Responder Strong, a group dedicated to improving mental health resources for those in the field. Through this work and my experience as a therapist I have developed a deep understanding of the unique and demanding nature of emergency response.</p>
        <p>Long shifts, unpredictable schedules, and daily exposure to trauma can take a significant toll—not just on mental health, but also on physical well-being and relationships. Many responders also face stigma or shame around seeking support, making it even harder to reach out for help. I provide a space where law enforcement officers, firefighters, dispatchers, paramedics, and their family members can process these challenges in a way that feels safe, understood, and free of judgment.</p>
      </section>
    </div>
  </section>

  <section id="cta" class="wrapper style4">
    <div class="inner">
      <header>
        <h2> Interested in learning more? Request a consultation.</h2>
      </header>
      <ul class="actions stacked">
        <li><a href="#" class="button fit primary">Contact Me</a></li>
      </ul>
    </div>
  </section>
</article>
