<div class="col-8 col-12-xsmall">
  <form method="post" action="https://formspree.io/f/mkgrgyno" id="contact-form">
    <div class="input-group">
      <input type="text" name="name" id="name" value="" placeholder="Your Name" />
    </div>
    <div class="input-group">
      <input type="email" name="email" id="email" value="" placeholder="Your Email" />
    </div>
    <div class="input-group">
      <input type="text" name="subject" id="subject" value="" placeholder="Subject" />
    </div>
    <div class="input-group">
      <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
    </div>
    <div class="input-group">
      <input type="submit" value="Send Message" class="primary" />
    </div>
  </form>
</div>